<!-- <div class="divtree">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
        (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
    </mat-tree-node>


    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_left' }}
        </mat-icon>
      </button>
      <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
        (change)="todoItemSelectionToggle(node)">{{node.item}}
      </mat-checkbox>

    </mat-tree-node>
  </mat-tree>
</div> -->

<div class="panel panel-default treePanel">
  <div class="treeHeading">
    <div class="row">

      <div class="col-lg-10 mt-2">
        <i ng-class="Base.TreeIconClass"></i>
        <span ng-bind="Base.TreeName"></span>
        <span style="margin-right: 50px;padding: 5px;border-radius: 5px;background-color: #ffd067;"
          ng-show="Base.SelectedRow[Base.ItemSelectedText]!=null && Base.SelectedRow[Base.ItemSelectedText]!='' && !Base.MultiSelect"
          ng-bind="Base.SelectedRow[Base.ItemSelectedText]"></span>
      </div>
      <div class="col-lg-2">
        <input class="float-left treeSearchInput" ng-model="Base.TreeSearchInput"
          ng-change="Base.Search(Base.TreeSearchInput)" placeholder="فیلتر" type="text">
      </div>
    </div>


  </div>
  <div class="panel-body" style="height: auto;overflow-y: auto;max-height: 100%;">
    <a ng-click="Base.ClearSelected()"><span class="fa fa-square-o fa-lg mt-4"></span></a>
    <a ng-click="Base.DataBind()"><span class="fa fa-refresh fa-lg mt-4"></span></a>

    <div id="{{1}}Tree">Tree</div>
  </div>
</div>
