
      <div class="main-header sticky side-header nav nav-item">
        <div class="container-fluid">

          <div class="main-header-left ">
            <div class="responsive-logo">

              <a href="index.html"><img src="assets/img/brand/logo.png" style="margin-right: 15px;" class="logo-1" alt="لوگو"></a>
              <a href="index.html"><img src="assets/img/brand/logo-white.png" class="dark-logo-1" style="margin-right: 15px;" alt="لوگو"></a>
              <a href="index.html">
                <img src="assets/img/brand/favicon.png" class="logo-2" style="margin-right: 15px;" alt="لوگو"></a>
              <a href="index.html"><img src="assets/img/brand/favicon.png" class="dark-logo-2" style="margin-right: 15px;" alt="لوگو"></a>
            </div>
            <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
              <!-- <a class="open-toggle" href="#"  (click)="HideOrganTitle()" ><i class="header-icon fe fe-align-left" ></i></a>
              <a class="close-toggle"  href="#"  (click)="ShowOrganTitle()"><i class="header-icons fe fe-x" ></i></a> -->
              <a class="open-toggle header-icon fe fe-align-left" href="#" ></a>
              <a class="close-toggle header-icons fe fe-x"  href="#"  > </a>
            </div>
  
          </div>
          <span  routerLink="/"  style="display: flex; justify-content: center; align-items: center; margin-top: 2px; cursor: pointer;"> {{UserOrganizationName}}</span>

          <div class="main-header-right">
            <ul class="nav">
              <li class="">
 
              </li>
            </ul>
            <div class="nav nav-item  navbar-nav-right ml-auto">
 
 
 
              <div class="nav-item full-screen fullscreen-button">
                <a class="new nav-link full-screen-link" href="#"><svg xmlns="http://www.w3.org/2000/svg"
                    class="header-icon-svgs" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path
                      d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3">
                    </path>
                  </svg></a>
              </div>
              <div class="dropdown main-profile-menu nav nav-item nav-link">
                <a class="profile-user d-flex" href="#"><img alt="" [src]="UserImage ? UserImage : 'assets/img/faces/defaultavataruser.png' "></a>

                <!-- <img alt="" [src]="UserProfileModel.imagePath ? apiUrlImage+'/'+UserProfileModel.imagePath :"> -->

                <div class="dropdown-menu">
                  <div class="main-header-profile bg-primary p-3">
                    <div class="d-flex wd-100p">
                      <div class="main-img-user"><img alt="" [src]="UserImage ? UserImage : 'assets/img/faces/defaultavataruser.png' " class=""></div>
                      <div class="ms-3 my-auto">
                        <h6>پتی کروزر</h6><span>مدیریت</span>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item" href="#"><i class="bx bx-user-circle"></i>مشخصات</a>
                  <a class="dropdown-item" href="#"><i class="bx bx-cog"></i> ویرایش نمایه</a>
                  <a class="dropdown-item" href="#"><i class="bx bxs-inbox"></i>صندوق ورودی</a>
                  <a class="dropdown-item" href="#"><i class="bx bx-envelope"></i>پیام ها</a>
                  <a class="dropdown-item" href="#"><i class="bx bx-slider-alt"></i> تنظیمات حساب</a>
                  <a class="dropdown-item" (click)="Logout()"><i class="bx bx-log-out"></i> خروج از سیستم</a>
                </div>
              </div>
               
            </div>
          </div>
        </div>
      </div>
 