a{
    text-decoration: none !important;
}
.spanTitleLogo{
    font-size: 18px !important;

}

.logomarlgin{

   margin-bottom: 20px !important;
}
.btnloginmargin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.hesabkarbarimargin{
     margin-bottom: 25px !important;
}

.designermargin{

    margin-top: 20px !important;
}