<div class="error-page1 bg-light text-dark">




   <div class="page">


     <div class="container-fluid">

      <div class="row no-gutter">
         <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent">
          <div class="row wd-100p mr-center text-center">
            <div class="col-md-12 col-lg-12 col-xl-12 my-auto mr-center wd-100p">
              <img 
              [src]="( loginPageModel ==null || loginPageModel.image2Path ==null || loginPageModel.image2Path ==undefined ) ?  'assets/img/media/login.png' : apiUrlImage+loginPageModel.image2Path " 
               class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mr-center" alt="logo">
            </div>
          </div>
        </div>
         <div class="col-md-6 col-lg-6 col-xl-5 bg-white">
          <div class="login d-flex align-items-center py-2">
             <div class="container p-0">
              <div class="row">
                <div class="col-md-10 col-lg-10 col-xl-9 mr-center">
                  <div class="card-sigin">
                    <div class="card-sigin">
                      <div class="card-sigin d-flex mb-5">
                        <a  ><img  [src]="( loginPageModel ==null || loginPageModel.imagePath ==null || loginPageModel.imagePath ==undefined || loginPageModel.imagePath =='' ) ?  'assets/img/brand/favicon.png' : apiUrlImage+loginPageModel.imagePath " class="sign-favicon-a ht-40" 
                          style="height: 80px;"
                            alt="logo">
                          <!-- <img src="assets/img/brand/favicon-white.png" class="sign-favicon-b ht-40" alt="logo"> -->
                        </a>
                
                        <h1 class="main-logo1 ms-1 me-0 my-auto tx-28 ps-1" style="margin-top: 43px !important;">
                          {{ (loginPageModel == null || loginPageModel.title == null || loginPageModel.title === undefined) ? 'شرکت پیش فرض' : loginPageModel.title }}
                      </h1>

                      </div>
                      <div class="card-sigin">
                        <div class="main-signup-header">
                          <h2>   ورود به حساب کاربری</h2>
                          <h5 class="fw-semibold mb-4">لطفا برای ادامه وارد شوید.</h5>
                             <form [formGroup]="loginForm" (ngSubmit)="Login()">
                            <div class="form-group">
                              <label> کدملی  </label> 
                               <input class="form-control"
                                                placeholder="کدملی 10 رقمی خود را وارد کنید" type="text"
                                                formControlName="UserName">
                                                <div *ngIf="loginForm.get('UserName')?.invalid && loginForm.touched">
                                                    <span *ngIf="loginForm.get('UserName')?.errors?.['required']"  class="text-danger font-small-for-validation">  این فیلد اجباری است    <br/> </span>
                                                    <span *ngIf="loginForm.get('UserName')?.errors?.['minlength']"  class="text-danger font-small-for-validation">کدملی باید دقیقا 10 کاراکتر باشد   <br/>  </span>
                                                    <span *ngIf="loginForm.get('UserName')?.errors?.['maxlength']"  class="text-danger font-small-for-validation">کدملی باید دقیقا 10 کاراکتر باشد   <br/>  </span>  
                                                    <span *ngIf="loginForm.get('UserName')?.errors?.['pattern']"  class="text-danger font-small-for-validation">کد ملی معتبر نمی باشد  <br/></span>  

                                                </div>  

                            </div>
                            <div class="form-group">
                              <label>کلمه عبور</label> 
                               <input class="form-control"
                              placeholder="کلمه عبور خود را وارد کنید" type="password"
                                                formControlName="Password">
                                                <div *ngIf="loginForm.get('Password')?.invalid && loginForm.touched">
                                                    <span *ngIf="loginForm.get('Password')?.errors?.['required']"  class="text-danger font-small-for-validation">  این فیلد اجباری است  <br/>   </span>
                                                    <span *ngIf="loginForm.get('Password')?.errors?.['minlength']"  class="text-danger font-small-for-validation">کلمه عبور باید حداقل 6 کاراکتر باشد   <br/> </span>
                                                    <span *ngIf="loginForm.get('Password')?.errors?.['maxlength']"  class="text-danger font-small-for-validation">کلمه عبور باید حداکثر 20 کاراکتر باشد  <br/>  </span>  
                                                </div> 

                            </div>
                            
                            <button  class="btn btn-main-primary btn-block" style="color: white;" 
                            [disabled]="!this.loginForm.valid" 
                            type="submit" >ورود</button>
 


           
                          </form>
                          <div class="main-signin-footer mt-5">
                            <p><a  >کلمه عبور را فراموش کرده اید؟</a></p>
                            <p>حساب کاربری ندارید؟<a  > ایجاد یک حساب کاربری </a></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div>
          </div> 
        </div>
      </div>

    </div>
 

  </div>






</div>
<!-- class -->