<main id="main" class="main" >
    <div class="row" >
      <div class="col-lg-3"></div>
<div class="col-lg-6">

    <div class="card">
      <div class="card-body">
        <h2 class="card-title center">مدیریت سازمان  </h2>

        <!-- Vertical Form -->
        <form class="row g-3" [formGroup]="OrganizationForm" (submit)="SaveOrganizationForm()">
          <div class="col-12">
            <label for="PersianTitle" class="form-label">  نام سازمان: </label>
            <input type="text" class="form-control" formControlName="PersianTitle">
          </div>
          <div class="col-12">
            <label for="ParentId" class="form-label">  سرشاخه: </label>
            <!-- <input type="text" class="form-control" id="inputNanme4"> -->
             <app-my-tree-view [isMultiSelectable]="false" formControlName="ParentId"  (id)="getId($event)"></app-my-tree-view>

          </div>
          <div class="col-12">
            <label for="SortingNumber" class="form-label">شماره ترتیب در نمایش:</label>
            <input type="number" class="form-control" formControlName="SortingNumber">
          </div>

 



          <div class="text-center">
            <button type="submit" class="btn btn-primary m-2 btnwidth"  >ذخیره </button>
            <button type="reset" class="btn btn-secondary btnwidth" (click)="CleanForm()" >پاک کردن فرم</button>
            <button mat-button color="primary">Primary</button>

            <button mat-button color="secondary">secondary</button>

          </div>
        </form><!-- Vertical Form -->

      </div>
    </div>



  </div>

  <div class="col-lg-3"></div>

</div>
</main>
