<ul id="myUL" style="direction:rtl;">
  <li><input type="checkbox" /><span class="child">مالی</span> </li>

  <li> <input type="checkbox" /><span class="parent-down">بهره‌برداری</span>
    <ul class="nested active">
      <li><input type="checkbox" /> <span class="child">مجمع</span> </li>
      <li><input type="checkbox" /> <span class="child">هیئت مدیره</span> </li>
      <li> <input type="checkbox" /><span class="parent">مدیریت برنامه ریزی و کنترل</span>
        <ul class="nested ">
          <li><input type="checkbox" /> <span class="child">مدیریت مهندسی طرح ها</span></li>
          <li><input type="checkbox" /> <span class="child">مدیریت پروژه ها</span></li>
          <li><input type="checkbox" /> <span class="parent">مشاوران</span>
            <ul class="nested">
              <li><input type="checkbox" /><span class="child">ریاست حراست</span></li>
              <li><input type="checkbox" /><span class="child">ریاست تحقیق و توسعه</span></li>
              <li><input type="checkbox" /><span class="child">مجمع</span></li>
              <li><input type="checkbox" /><span class="child">مجمع</span></li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </li>

  <li><input type="checkbox" /><span class="child">مدیریت برنامه ریزی و کنترل</span> </li>
  <li><input type="checkbox" /><span class="child">ریاست امور حقوقی و قرارداد ها</span></li>
  <li><input type="checkbox" /><span class="child">مدیریت HSEQ</span></li>

  <li> <input type="checkbox" /><span class="parent" (click)="ClickOnPlus()">بهره‌برداری</span>
    <ul class="nested">
      <li><input type="checkbox" /> <span class="child">مجمع</span> </li>
      <li><input type="checkbox" /> <span class="child">هیئت مدیره</span> </li>
      <li> <input type="checkbox" /><span class="parent">مدیریت برنامه ریزی و کنترل</span>
        <ul class="nested">
          <li><input type="checkbox" /> <span class="child">مدیریت مهندسی طرح ها</span></li>
          <li><input type="checkbox" /> <span class="child">مدیریت پروژه ها</span></li>
          <li><input type="checkbox" /> <span class="parent parent-down">مشاوران</span>
            <ul class="nested">
              <li><input type="checkbox" /><span class="child">ریاست حراست</span></li>
              <li><input type="checkbox" /><span class="child">ریاست تحقیق و توسعه</span></li>
              <li><input type="checkbox" /><span class="child">مجمع</span></li>
              <li><input type="checkbox" /><span class="child">مجمع</span></li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </li>
</ul>
