ul,
#myUL {
  list-style-type: none;
}

 li{
 /* display: -ms-flexbox;*/
    display: list-item; 
    flex-wrap: wrap; 
    /* -ms-flex-wrap: wrap;
        */
  
  }



#myUL {
  margin: 0;
  padding: 0;
}

.child {
  margin-right: 5px;
}

.ch-margin{
   padding-top: 2px;
  vertical-align: text-top;


}
span{
  position: relative;
 top: -4px;
}

.parent {
  /*cursor: pointer;*/
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  margin-top: 2px;
  padding-top: -3px;
  margin-right:  -3px;
 }
 .parent-down {
  /*cursor: pointer;*/
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  margin-top: 2px;
   }
.parent::before {
  content: "\229E";
  color: #000000;
  /*display: inline-block;*/
   margin-top: 0px;
   padding-top: 0px;
   margin-right:  3px;
}

.parent-down::before {
   content: "\229F";
  margin-top: -5px;



}

.nested {
  display: none;
}

.active {
  display: block;
}
