<ul id="myUL" style="direction:rtl;">
  <li><input type="checkbox" class="ch-margin" /><span class="child">مالی</span> </li>

  <li> <input type="checkbox" class="ch-margin" /><span class="parent" (click)="ClickOnParent($event)">بهره‌برداری</span>
    <ul class="nested">
      <li><input type="checkbox" class="ch-margin" /> <span class="child">مجمع</span> </li>
      <li><input type="checkbox" class="ch-margin" /> <span class="child">هیئت مدیره</span> </li>
      <li> <input type="checkbox" class="ch-margin" /><span class="parent" (click)="ClickOnParent($event)">مدیریت برنامه ریزی و کنترل</span>
        <ul class="nested">
          <li><input type="checkbox" class="ch-margin" /> <span class="child">مدیریت مهندسی طرح ها</span></li>
          <li><input type="checkbox" class="ch-margin" /> <span class="child">مدیریت پروژه ها</span></li>
          <li><input type="checkbox" class="ch-margin" class="ch-margin"/> <span class="parent" (click)="ClickOnParent($event)" (click)="ClickOnParent($event)" (click)="ClickOnParent($event)">مشاوران</span>
            <ul class="nested" >
              <li><input type="checkbox" class="ch-margin" class="ch-margin"/><span class="child">ریاست حراست</span></li>
              <li><input type="checkbox" class="ch-margin" /><span class="child">ریاست تحقیق و توسعه</span></li>
              <li><input type="checkbox" class="ch-margin" /><span class="child">مجمع</span></li>
              <li><input type="checkbox" class="ch-margin" /><span class="child">مجمع</span></li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </li>

  <li><input type="checkbox" class="ch-margin" /><span class="child">مدیریت برنامه ریزی و کنترل</span> </li>
  <li><input type="checkbox" class="ch-margin" /><span class="child">ریاست امور حقوقی و قرارداد ها</span></li>
  <li><input type="checkbox" class="ch-margin" /><span class="child">مدیریت HSEQ</span></li>

  <li> <input type="checkbox" class="ch-margin" /><span class="parent" (click)="ClickOnParent($event)" (click)="ClickOnParent($event)" (click)="ClickOnParent($event)">بهره‌برداری</span>
    <ul class="nested">
      <li><input type="checkbox" class="ch-margin" /> <span class="child">مجمع</span> </li>
      <li><input type="checkbox" class="ch-margin" /> <span class="child">هیئت مدیره</span> </li>
      <li> <input type="checkbox" class="ch-margin" /><span class="parent" (click)="ClickOnParent($event)" (click)="ClickOnParent($event)">مدیریت برنامه ریزی و کنترل</span>
        <ul class="nested">
          <li><input type="checkbox" class="ch-margin" /> <span class="child">مدیریت مهندسی طرح ها</span></li>
          <li><input type="checkbox" class="ch-margin" /> <span class="child">مدیریت پروژه ها</span></li>
          <li><input type="checkbox" class="ch-margin" /> <span class="parent" (click)="ClickOnParent($event)">مشاوران</span>
            <ul class="nested">
              <li><input type="checkbox" class="ch-margin" /><span class="child">ریاست حراست</span></li>
              <li><input type="checkbox" class="ch-margin" /><span class="child">ریاست تحقیق و توسعه</span></li>
              <li><input type="checkbox" class="ch-margin" /><span class="child">مجمع</span></li>
              <li><input type="checkbox" class="ch-margin" /><span class="child">مجمع</span></li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>
  </li>
</ul>
