ul,
#myUL {
  list-style-type: none;
}


#myUL {
  margin: 0;
  padding: 0;
}

.child {
  margin-right: 5px;
}


.parent {
  cursor: pointer;
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  margin-right:2px;
  padding-top: -25px;
  position: absolute;
}

.parent::before {
  content: "\229E";
  color: #646466;
  display: inline-block;
   margin-top: 0px;
}

.parent-down::before {
   margin-top: 0px;
  content: "\229F";


}

.nested {
  display: none;
}

.active {
  display: block;
}
