/* You can add global styles to this file, and also import other style files */
  
@import "./assets/vendor/bootstrap/css/bootstrap.min.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Vazirmatn", "Open Sans", sans-serif;
 }

 .zoom90{
  zoom:0.80;
 }
